<head>
</head>

<body>
    Hello <%=username%>. <!--วิธีเขียน script แทรก อะไรที่อยู่ใน <% %> เป็นโค้ด ejs แต่ที่เหลือก็เป็น html ปกติ-->

    <!-- วนลูปprintค่าที่ได้มา -->
    <ul> <!--ตัวทำเป็นลิสต์ข้อมูลของ html-->
    <% <!--เอาสคริปนี้มาแทรกให้ลูปแล้วแสดงข้อมูลใน customer ที่ส่งมาออกมา-->
        customers.map((i) =>{ %>
            <li> ---<%=i%> </li> <!--แทรกสคริปส่วนที่ใช้แสดงผล แต่ละตัวของลูป-->
    <% })%>
    </ul>

</body>